
/***************************************************************************
*
* This script is part of MIMO.cz V2 skin - reincarnation of legendary
* MIMO.cz skin originally created by EMBRYO @ nyx.cz
*
* Title:		Ad hack
* Project:		MIMO.cz V2 skin for nyx.cz
* Author:		F0B1C @ nyx
* Modified: 	2010-12-16
*
***************************************************************************/


#reklama_inner{
	display:none;
	visibility:collapse;
}

#reklama_inner *{
	display:none !important;
	visibility:collapse !important;

}

.adsbygoogle, .nyxcz-responsive{
	display:none;
	visibility:collapse;
}