
/***************************************************************************
*
* This script is part of MIMO.cz V2 skin - reincarnation of legendary
* MIMO.cz skin originally created by EMBRYO @ nyx.cz
*
***************************************************************************/


body{
	width:960px;
	margin-left:auto;
	margin-right:auto;

}